<!--footer start-->
<footer id="retro-footer">
    <div class="hidden-xs">
        <ul>
            <li><a href="mailto:xshi28@sheffield.ac.uk">- About us</a></li>
            <li><a href="mailto:xshi28@sheffield.ac.uk">- Privacy policy</a></li>
            <li><a href="mailto:xshi28@sheffield.ac.uk">- Terms & Conditions</a></li>
            <li><a href="mailto:xshi28@sheffield.ac.uk">- Contact us</a></li>
        </ul>
    </div>
    <div>
        <span>&copy; 2019 Retro Recommender</span>
    </div>
</footer>
<!--footer end-->