<!--top bar start-->
<nav class="retro-top">
    <div class="title">
        <h3>Retro Recommender</h3>
        <h5>Dress as a celebrity from the past</h5>
    </div>
    <ul id="reg-log">
        <li id="signUp" data-toggle="modal" data-target="#register">Register</li>
        <li id="login" data-toggle="modal" data-target="#signIn">Log in</li>
    </ul>
</nav>

<!-- log in start -->
<div class="modal" id="signIn" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button id="login-close" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Log In</h4>
            </div>
            <div class="modal-body">
                <input type="email" class="login-field" placeholder="Email" name="email" required>
                <input type="password" class="login-field" placeholder="Password" name="password" required>
            </div>
            <div class="modal-footer">
                <input class="login" type="submit" value="Log In">
                <p id="login-reg">New to Retro Recommender? Register now!</p>
            </div>
        </div>
    </div>
</div>
<!--log in end-->

<!-- register start -->
<div class="modal" id="register"  tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button id="reg-close" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Join Now</h4>
                <p>Save your favorite products and dress as a celebrity from the past</p>
            </div>
            <div class="modal-body">
                <input type="email" class="reg-field" placeholder="Email" name="reg-email" required>
                <input type="password" class="reg-field" placeholder="Password" name="reg-password" required>
            </div>
            <div class="modal-footer">
                <input class="reg" type="submit" value="Sign Up">
                <p id="reg-login">Already have an account? Log in here!</p>
            </div>
        </div>
    </div>
</div>
<!--register end-->

<!--top bar end-->

