<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="description" content="Retro Recommender -- Dress as a celebrity from the past">
    <meta name="keywords" content="retro, recommender, celebrity, shopping, fashion">
    <title>Retro Recommender</title>
    <!-- import bootstrap css-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <link rel="stylesheet" href="/stylesheets/base.css">
    <!--import jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- import bootstrap js -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <!--html5shiv and respond-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
</head>
<body>

<!--container start-->
<div id="container">
    <!--top bar start-->
    <nav class="retro-top">
        <div class="title">
            <h3>Retro Recommender</h3>
            <h5>Dress as a celebrity from the past</h5>
        </div>
        <ul id="reg-log">
            <li><a href="">Register</a></li>
            <li><a href="">Log in</a></li>
        </ul>
    </nav>

    <!--top bar end-->
    <div class="push"></div>
</div>
<!--container end-->

<!--footer start-->
<footer id="retro-footer">
    <div class="hidden-xs">
        <ul>
            <li><a href="#">- About us</a></li>
            <li><a href="#">- Privacy policy</a></li>
            <li><a href="#">- Terms & Conditions</a></li>
            <li><a href="mailto:xshi28@sheffield.ac.uk">- Contact us</a></li>
        </ul>
    </div>
    <div>
        <span>&copy; 2019 Retro Recommender</span>
    </div>
</footer>
<!--footer end-->
</body>
</html>