<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="description" content="Retro Recommender -- Dress as a celebrity from the past">
    <meta name="keywords" content="retro, recommender, celebrity, shopping, fashion">
    <title>Retro Recommender</title>
    <!-- import bootstrap css-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="icon" href="/images/favicon.ico" type="images/x-ico" />
    <link rel="stylesheet" href="/stylesheets/base.css">
    <link rel="stylesheet" href="/stylesheets/noResult.css">
    <!--import jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- import bootstrap js -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <!--html5shiv and respond-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
</head>
<body>

<!--container start-->
<div id="container">
    <!--include header-->
    <%- include("partials/header") %>

    <!--search part start-->
    <div>
        <div id="search">
            <form method="get" action="/result">
                <input class="col-sm-offset-4 col-sm-3 col-xs-offset-1 col-xs-8" type="text" name="celebrity" class="form-control"
                       placeholder="Name">
                <button class="col-sm-1 col-xs-2" type="submit" class="btn btn-default">
                    <span class="glyphicon glyphicon-search"></span></button>
            </form>
        </div>
    </div>
    <!--search part end-->

    <p id="text" class="col-xs-12">
        <b>No result, </b>please try other names or click <a href="/list">here</a> to see the list of celebrities!
    </p>

    <!--top bar end-->
    <div class="push"></div>
</div>
<!--container end-->

<!--include footer-->
<%- include("partials/footer") %>
</body>
</html>