<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="description" content="Retro Recommender -- Dress as a celebrity from the past">
    <meta name="keywords" content="retro, recommender, celebrity, shopping, fashion">
    <title>Retro Recommender</title>
    <!-- import bootstrap css-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <link rel="stylesheet" href="/stylesheets/base.css">
    <link rel="stylesheet" href="/stylesheets/result.css">
    <!--import jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- import bootstrap js -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <!--html5shiv and respond-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src="/javascripts/result.js"></script>
    <script src="/javascripts/base.js"></script>
</head>
<body>

<!--container start-->
<div id="container">
    <!--include header-->
    <%- include("partials/header") %>

    <div class="result-content">
        <!--left part start-->
        <div class="left-part col-sm-4 col-xs-6">
            <div class="big-photo">
            </div>
            <p class="celebrity-name">Audrey Hepburn</p>
            <p class="celebrity-intro">British Actress</p>
            <a href=""><button id="another"><span>Another</span><span class="hidden-xs"> Photo</span></button></a>
        </div>
        <!--left part end-->

        <!--right part start-->
        <div class="right-part col-sm-8 col-xs-6">
            <!--right part top start-->
            <ul id="filter" class="col-sm-6 hidden-xs">
                <li>Filter: </li>
                <a href=""><li> All |</li></a>
                <a href=""><li> Dresses |</li></a>
                <a href=""><li> Tops |</li></a>
                <a href=""><li> Trousers |</li></a>
                <a href=""><li> Shoes |</li></a>
                <a href=""><li> Accessories</li></a>
            </ul>
            <div id="search" class="row">
                <form method="get" action="/result">
                    <input class="col-sm-3 col-xs-12" type="text" name="keysearch" class="form-control"
                           placeholder="Name">
                    <select name="type" class="col-sm-2 col-xs-6">
                        <option value="All">All</option>
                        <option value="Dress">Dresses</option>
                        <option value="Top">Tops</option>
                        <option value="Trousers">Trousers</option>
                        <option value="Shoes">Shoes</option>
                        <option value="Accessories">Accessories</option>
                    </select>
                    <button class="col-sm-1 col-xs-6" type="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-search"></span></button>
                </form>
            </div>
            <!--right part top over-->

            <!--right part list start-->
            <% for(var i=0; i<12; i++){ %>
            <div class="result-list col-md-3 col-sm-4 col-xs-12">
                <a href="">
                    <div class="photo">
                    </div>
                </a>
                <p class="product-name">CAROLINA HERRERA</p>
                <span class="product-price">£533</span>
                <% var name = "save" + i %>
                <a href=""><span id="<%= name%>" class="glyphicon glyphicon-heart-empty save"></span></a>
            </div>
            <% } %>
            <!--right part list over-->
        </div>
        <!--right part end-->
    </div>

    <div class="push"></div>
</div>
<!--container end-->

<!--include footer-->
<%- include("partials/footer") %>
</body>
</html>