.result-content{
    padding: 20px;
}
/*left part start*/
.big-photo{
    height: 360px;
    width: 86%;
    margin: 0 auto;
}
.left-part p{
    text-align: center;
}
.celebrity-name{
    padding-top: 10px;
    font-weight: 700;
}
.celebrity-intro{
    font-size: 12px;
}
.small-photo{
    text-align: center;
}
.small-photo-btn{
    width: 8%;
    display: inline-block;
}
#small-photo-btn1,#small-photo-btn2{
    width: 20px;
    height: 20px;
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    font-size: 16px;
    font-weight: 700;
}
.small-photo .small-pic{
    display: inline-block;
    width: 25%;
    height: 80px;
    vertical-align: middle;
}
.small-pic:hover{
    cursor: pointer;
}
/*left part end*/

/*right part start*/
/*right part top*/
#search input, #search select, #search button{
    height: 30px;
}
#search button{
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
}
#navi li{
    display: inline-block;
    line-height: 30px;
}
#navi a:hover{
    color: #000;
}

/*right part result list*/
.result-list{
    padding: 25px;
    box-sizing: border-box;
    border: 1px solid #fff;
    margin-bottom: 10px;
}
.result-list:hover{
    border: 1px solid lightgrey;
    cursor: pointer;
}
.result-list .photo{
    width: 100%;
    margin: 0 auto;
    height: 200px;
}
#enlarge .modal-body{
    padding: 20px;
    text-align: center;
}
#enlarge .modal-body img{
    width: 70%;
}
/*right part end*/